/* Imported fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

@import url("https://font`s.googleapis.com/css2?family=Roboto:wght@900&display=swap");

/* Css codes that resets default properties */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Header */

header {
  background-color: #1a1e1f;
  transition: background-color 0.3s ease; /* Smooth transition effect */
  padding: 20px 0px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-transparent {
  background-color: #1a1e1ff5;
}

.header-nav {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav-logo {
  cursor: pointer;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-nav li a {
  display: block;
  color: whitesmoke;
  text-decoration: none;
  margin: 0px 24px;
  font-size: 14px;
  cursor: pointer;
  line-height: 26px;
}

.header-nav li a:hover {
  color: #08a3e0;
  transition: 0.4s;
}

.header-nav li:nth-child(3) a {
  color: #08a3e0;
}

/* Main */
/* Introduction section */

.main-intro-section {
  background: url("images/intro-section-wallpaper.webp") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 352px;

  display: flex;
  align-items: center;
}

.main-intro-section-title-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-intro-section-title-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 900;
  color: whitesmoke;
  cursor: default;
}

.main-intro-section-title-subtitle {
  font-size: 34px;
  font-weight: 800;
  color: whitesmoke;
  margin-top: 20px;
  cursor: default;
}

.main-descr-section {
  background-color: #2b2b2b;
}

.main-descr-section-par-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 0px;
}

.main-descr-section-par {
  color: whitesmoke;
  font-size: 28px;
  line-height: 1.6em;
  cursor: default;
}

.main-descr-section-read-more {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #08a3e0;
  text-decoration: none;
  border-radius: 5px;
  margin: 50px 0px 0px 0px;
}

.main-descr-section-read-more:hover {
  transition: 0.4s;
  color: #dbdbdb;
}

/* Training courses section */

.main-courses-section {
  background-color: #161616;
}

.main-courses-inner-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px 50px 0px;
}

.main-courses-section-title {
  color: whitesmoke;
  font-size: 24px;
  padding: 0px 0px 70px 0px;
  cursor: default;
}

.main-courses-images-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, minmax(min(100%, 200px), 1fr));
}

.main-courses-each-image-container {
  border: 0.3px solid rgba(245, 245, 245, 0.334);
  width: fit-content;
  border-radius: 5px;
}

.main-courses-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-courses-images-inner-container {
  padding: 30px 26px 30px 26px;
}

.main-courses-images-inner-container-title {
  font-size: 18px;
  color: whitesmoke;
  cursor: default;
}

.main-courses-images-inner-container-subtitle {
  font-size: 14px;
  color: whitesmoke;
  cursor: default;
  margin-top: 30px;
}

.main-courses-images-inner-container-course-details {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-python {
  margin-top: 83px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-tot {
  margin-top: 104px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-blockchain {
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-devops {
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.course-details {
  color: #08a3e0;
  text-decoration: none;
  margin-left: 10px;
}
