/* Imported fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

/* Css codes that resets default properties */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Header */

header {
  background-color: #1a1e1f;
  transition: background-color 0.3s ease; /* Smooth transition effect */
  padding: 20px 0px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-transparent {
  background-color: #1a1e1ff5;
}

.header-nav {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav-logo {
  cursor: pointer;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-nav li a {
  display: block;
  color: whitesmoke;
  text-decoration: none;
  margin: 0px 24px;
  font-size: 14px;
  cursor: pointer;
  line-height: 26px;
}

.header-nav li a:hover {
  color: #08a3e0;
  transition: 0.4s;
}

.header-nav li:nth-child(3) a {
  color: #08a3e0;
}

/* Main */

.main-intro-section {
  background: url("images/intro-section-wallpaper.webp") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 352px;

  display: flex;
  align-items: center;
}

.main-intro-section-title-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-intro-section-title-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 900;
  color: whitesmoke;
  cursor: default;
}

.main-intro-section-title-subtitle {
  font-size: 34px;
  font-weight: 800;
  color: whitesmoke;
  margin-top: 20px;
  cursor: default;
}

.main-descr-section {
  background-color: #2b2b2b;
}

.main-descr-section-par-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 0px;
}

.main-descr-section-par {
  color: whitesmoke;
  font-size: 28px;
  line-height: 1.6em;
  cursor: default;
}

.main-descr-section-read-more {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #08a3e0;
  text-decoration: none;
  border-radius: 5px;
  margin: 50px 0px 0px 0px;
}

.main-descr-section-read-more:hover {
  transition: 0.4s;
  color: #dbdbdb;
}

/* Training courses section */

.main-courses-section {
  background-color: #161616;
}

.main-courses-inner-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px 50px 0px;
}

.main-courses-section-title,
.main-sider-section-title {
  color: whitesmoke;
  font-size: 24px;
  padding: 0px 0px 70px 0px;
  cursor: default;
}

.main-courses-images-container {
  display: grid;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-columns: repeat(3, minmax(min(100%, 200px), 1fr));
}

.main-courses-each-image-container {
  border: 0.3px solid rgba(245, 245, 245, 0.334);
  width: fit-content;
  border-radius: 5px;
}

.main-courses-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-courses-images-inner-container {
  padding: 30px 22px 30px 22px;
}

.main-courses-images-inner-container-title {
  font-size: 18px;
  color: whitesmoke;
  cursor: default;
}

.main-courses-images-inner-container-subtitle {
  font-size: 14px;
  color: whitesmoke;
  cursor: default;
  margin-top: 30px;
}

.main-courses-images-inner-container-course-details {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-python {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-tot {
  margin-top: 134px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-blockchain {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-devops {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.course-details {
  color: #08a3e0;
  text-decoration: none;
  margin-left: 10px;
}

/* Slider */

.main-slider-section {
  background-color: #2b2b2b;
}

.main-slider-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 0px;
}

.card {
  flex: 212px 0 0;
  display: flex;
  margin: 0px 50px;
}

.cards img {
  width: 100%;
  object-fit: cover;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.5s ease, opacity 0.5s ease;
  align-items: center;
  width: 660px;
  opacity: 1;
}

.display-area {
  width: 1024px;
  overflow-x: hidden;
  margin: auto;
  display: flex;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 20px 0px 0px 0px;
}

.dot {
  border: none;
  background: whitesmoke;
  width: 6px;
  height: 6px;
  margin: 6px;

  border-radius: 50%;
  outline: none;
}

.dot:hover,
.dot.active {
  background: whitesmoke;
}

.arrow {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.kuku:hover {
  transition: 0.4s;
  color: red;
}

.main-accordion-section {
  background-color: #161616;
  padding: 80px 0px;
}

.main-accordion-container {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.main-accordion-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-accordion-title {
  font-size: 21px;
  color: whitesmoke;
  cursor: default;
}

.main-accordion-all-question {
  font-size: 18px;
  font-weight: 800;
  color: #08a3e0;
  cursor: pointer;
}

.main-accordion-all-question:hover {
  transition: 0.4s;
  color: #dbdbdb;
}

/* Accordion */

.accordion-container {
  width: 100%;
  max-width: 770px;
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.278);
  padding-bottom: 20px;
  padding-top: 30px;
}

.accordion-header {
  color: whitesmoke;
  font-size: 16px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background-color: transparent;
}

.accordion-content {
  padding: 10px 0px 0px 0px;
  color: whitesmoke;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.accordion-content {
  line-height: 2;
  font-size: 13px;
}

.accordion-paragraph {
  padding: 0px 20px;
}

.icon {
  transition: transform 0.3s ease;
}

.active .icon {
  transform: rotate(45deg);
}

/* Footer */

.footer-section {
  background-color: #1a1e1f;
}

.footer-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.footer-tbc-logo {
  width: 106px;
}

.footer-logos,
.footer-social-links-contaner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-links {
  margin-left: 10px;
  width: 40px;
}

.footer-all-rights-reserved-container {
  margin: 20px 0px;
}

.footer-all-rights-reserved,
.footer-terms-and-conditions {
  color: whitesmoke;
  cursor: default;
}

.footer-terms-and-conditions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contact-btn {
  background-color: #00aef3;
  padding: 6px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: whitesmoke;
}

.footer-contact-btn:hover {
  transition: 0.4s;
  background-color: #d5d5d5;
  color: black;
}

/* Media queries */

@media (width < 1024px) {
  .main-intro-section,
  header {
    padding: 20px 20px;
  }
  body,
  html {
    overflow-x: hidden;
  }
  .main-descr-section,
  .main-courses-section,
  .main-slider-section {
    padding: 0px 20px;
  }
  .dots-wrapper {
    padding: 20px 0px 0px 0px;
  }
}

@media (width < 800px) {
  header {
    padding: 20px 30px;
  }
  .main-descr-section,
  .main-courses-section,
  .main-slider-section {
    padding: 0px 30px;
  }
  .main-accordion-section {
    padding: 80px 30px;
  }
}

@media (max-width: 800px) {
  .main-courses-images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 712px) {
  .header-nav-logo-container {
    display: none;
  }
  .header-nav-container {
    margin: 0 auto;
  }
  .header-nav li a {
    font-size: 18px;
  }
  .main-intro-section-title-container {
    text-align: center;
  }

  .main-intro-section-title-subtitle {
    font-size: 26px;
    margin-top: 6px;
  }
  .main-descr-section-par-container,
  .main-courses-section {
    text-align: center;
  }

  .main-courses-section-title {
    padding: 0px 0px 40px 0px;
  }

  .main-courses-images-container {
    grid-template-columns: 1fr;
  }

  .main-courses-each-image-container {
    width: 100%;
  }

  .main-courses-images-inner-container-title {
    font-size: 38px;
  }

  .main-courses-images-inner-container-subtitle {
    margin-top: 20px;
    font-size: 20px;
  }

  .main-courses-images-inner-container-course-details {
    justify-content: center;
  }

  .main-courses-images-inner-container-course-details {
    margin-top: 60px;
  }

  .course-details {
    font-size: 20px;
  }

  .main-courses-image {
    width: 100%;
  }

  .card {
    flex: 212px 0 0;
    display: flex;
    margin: 0px 45px;
  }

  .accordion-header {
    font-size: 18px;
  }
  .accordion-paragraph {
    font-size: 16px;
  }
}

@media (max-width: 570px) {
  header {
    display: none;
  }
  .main-intro-section-title-subtitle {
    font-size: 32px;
    margin-top: 10px;
  }
  .main-descr-section-par {
    font-size: 21px;
  }
  .main-courses-images-inner-container-title {
    font-size: 27px;
  }
  .main-courses-images-inner-container-course-details {
    margin-top: 30px;
  }
  .main-courses-images-inner-container-course-details-python,
  .main-courses-images-inner-container-course-details-tot,
  .main-courses-images-inner-container-course-details-blockchain,
  .main-courses-images-inner-container-course-details-devops {
    justify-content: center;
    margin-top: 30px;
  }
  .card {
    flex: 197px 0 0;
    display: flex;
    margin: 0px 45px;
  }
  .main-accordion-all-question {
    display: none;
  }
  .main-accordion-title {
    text-align: center;
  }
  .accordion-content {
    font-size: 15px;
  }
  .footer-container {
    text-align: center;
  }
  .footer-terms-and-conditions-container {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-logos {
    display: none;
  }
}

@media (max-width: 376px) {
  .main-descr-section-par-container {
    display: none;
  }

  .main-intro-section-title-title {
    font-size: 34px;
  }
  .main-intro-section-title-subtitle {
    font-size: 26px;
  }
  .main-slider-container {
    text-align: center;
  }
  .footer-container {
    padding: 20px 10px;
  }
}
